*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
    
}

header{
    width:100%;
    height:100vh;
    background-image: url('../../../public/images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  
   
}
.header-content{
    background: rgba(2, 26, 50, 0.7);
    height: 100vh;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
   
}

.header-content h4{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
    z-index: 10;
  
}
.header-content h1{
    font-weight: bold;
    font-size: 67px;
  margin-bottom: 30px;
  
}
a{
    text-decoration: none;
}

.linkTo{
    border-radius: 6px;
    padding-top: 17px;
    padding-right: 35px;
    padding-bottom: 17px;
    padding-left: 35px;
    background-color: #6878d6;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 19px;
   
}
.linkTo:hover{
    color: #6878d6;
    background-color: #ffffff;
    text-decoration:none;
}
.header-content p {
    font-size: 15px;
    font-weight: 300;
    word-spacing: 1px;
    padding: 5px;
    text-align: center;
}

.wrapper1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #eff2ff;
}
.wrapper1 h1{
    font-size: 40px;
    font-weight: 600;
    margin: 25px 0;
    text-align: center;
    
}

.wrapper1 .content-box{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     width: 1200px;
     margin-top:30px
}
.wrapper1 .content-box .card{
   
    background: #fff;
    min-height: 250px;
    width: 380px;
    padding: 30px;
    border-radius: 5px;
    margin:10px 5px;
  
}
.wrapper1 
.card i{
    margin: 20px;
    color: #000;
    color: #6878d6;
    font-size: 40px;
    text-align: justify;
}
.wrapper1 p{
    color: #000;
}
.wrapper1 .card h2{
    margin-bottom: 12px;
    font-weight: 700;
    text-align: justify;
    margin-left: 20px;
    font-size: 25px;
}
.wrapper1 
.card p{
    color:#000;
    text-align: justify;
    font-size: 15px;
    padding: 10px;
    line-height: 30px;
    word-spacing: 5px;
    margin-left: 10px;
}
.wrapper1 .card:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    transition: 0.2s all;
}
.wrapper1 .card:hover h2{
    font-weight: 600;
}

.expertise{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.expertise h1{
    font-size: 40px;
    font-weight: 600;
    padding:10px;
}
.expertise h4{
    font-size: 20px;
    padding: 10px;
}
.part i {
    font-size: 100px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: #6878d6;
   
    margin: 20px;
}

.client{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eff2ff;
    height: 600px;

}
.client h1{
    padding: 20px;
    font-size: 30px;
    /* margin-top: 40px; */
    font-weight: 600;
}
.client p{
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
   color: #000;
}
.client i{
    font-size: 40px;
    padding: 10px;
}
.client h4{
    font-size: 18px;
    /* padding: 5px; */
}
.client h5{
    font-size: 14px;
}
@media(max-width: 767px) {
   .header-content h4{
       font-size: 20px;
       padding: 2px;
   }
   .header-content h1{
       font-size: 40px;
       padding: 2px;
   }
   .wrapper1{
       padding: 25px;
   }
   .wrapper1 h1{
       font-size: 30px;
       font-weight: 600;
   }
   .wrapper1 .content-box{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       width: 100%;
   }
   .wrapper1 .card{
      min-width: 300px;
       margin: 10px auto;
   }
.wrapper1 .card h2{
       font-size:20px ;
   }
.expertise .part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 40px; */
}
.client h1 {
   text-align:center;
    font-size: 25px;
   
}

.client p {
    text-align:center;
    font-size: 15px;
   
}

.client i {
    text-align:center;
    font-size: 30px;
   
}

.client h4 {
    text-align:center;
    font-size: 14px;
  
}

.client h5 {
    font-size: 10px;
}
  
}

@media(max-width: 574px) {
    .header-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.header-content h4 {
    font-size: 20px;
    padding: 2px;
}

.header-content h1 {
    font-size: 35px;
    padding: 2px;
}
.part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.part i {
    font-size: 120px;
    text-align: center;
    padding: 20px;
}
.expertise h1{
    font-size: 30px;

}
 .expertise h4{
    font-size: 15px;
}
}